
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
.texto-desc{
    
    color: white;
    text-decoration: none;
    text-align: start;
    font-family: Baskervville;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    
   
}
.container-descricao{
    width: 100%;
    margin:0;
    height: 40px;
}
.personalizado-carrinho-desc {
    max-width: 1000px;
    background-color: #BC4C2A;
    height: 40px;
    margin-top: 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 0 0 grey;
  
    
}
.texto-total{
    color: #000000;
    text-decoration: none;
    text-align: end;
    font-family: Baskervville;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;

}
.linha-divisoria-apoio{
    background-color:#9E9E9E ;
    height: 1px;
    
}
.linha-divisoria{
    background-color:#BC4C2A ;
    height: 1px;
}
.titulo{
    color:#BC4C2A ;
    text-decoration: none;
    text-align: center;
    font-family: Baskervville;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;

}
.tamanho{
    width:100%;
    padding: 0;
    margin: 0;
}

.btn-confirmacao {
    font-family: Baskervville;
    text-align: center;
    background-color: #3f79cf;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-confirmacao:hover {
    color: #fff;
    background-color: #5a90e0;
    box-shadow: #00000062 0 2px 4px 2px;
}

.btn-retorno {
    font-family: Baskervville;
    text-align: center;
    background-color: #a3a3a3;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-retorno:hover {
    color: #fff;
    background-color: #bebebe;
    box-shadow: #00000062 0 2px 4px 2px;
}