@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

.linha-divisoria{
    box-shadow: grey 1px 0 1px 0px;
}
.btn-ver-mais{
    font-family: Baskervville;
    text-align: center;
    background-color: #a3a3a3;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
    
}

.btn-ver-mais:hover {
    color: #fff;
    background-color: #bebebe;
    box-shadow: #00000062 0 2px 4px 2px;
}