.first-footer {
    font-family: 'Buenard', serif;
    font-size: 25px;
    width: auto;
    height: 180px;
    background-color: #ffffff;
}

.first-footer ul {
    line-height: 40px;
    list-style: none;
    font-size: 15px;
    text-align: start;
}

.pinterest::after {
    content: "";
    display: block;
    background: url("../icons-redes/pinterest.png") no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px 10px 0 0;
}

.facebook::after {
    content: "";
    display: block;
    background: url("../icons-redes//facebook.png") no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px 10px 0 0;
}

.instagram::after {
    content: "";
    display: block;
    background: url("../icons-redes/instagram.png") no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px 10px 0 0;
}

.first-footer a {
    text-decoration: none;
    color: #000000;
}

.first-footer a:hover {
    text-decoration: underline;
    color: #000000;
}

.contato h3 {
    padding-left: 30px;
}

.produtos h3 {
    padding-left: 30px;
}

.sobre h3 {
   padding-left: 30px;
}

.redes h3 {
    padding-left: 30px;
}

.last-footer {
    background-color: #F6F3EF;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 24px;
    line-height: 66px;
}