*{
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Baskervville', serif;
}

h1, h2 {
    color: #BC4C2A;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    text-shadow: 2px 2px 5px #cacaca;
}

.container-form {
    background-color: #F6F3EF;
    padding-bottom: 30px !important;
    margin-bottom: 30px;
}

.form-label {
    font-family: Baskervville;
    font-weight: 600;
}

.forms-block {
    margin-bottom: 50px;
}

.form-input {
    margin-bottom: 10px;
    border: none;
    border-bottom: solid 2px #BC4C2A;
    color: #000;
    height: 35px;
    padding: 0 10px;
}

.textarea {
    border: none;
    border-bottom: solid 2px #BC4C2A;
}

.btn-enviar {
    font-family: Baskervville;
    text-align: center;
    background-color: #BC4C2A;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-enviar:hover {
    color: #fff;
    background-color: #d47c61;
    box-shadow: #00000062 0 2px 4px 2px;
}

.btn-voltar {
    font-family: Baskervville;
    text-align: center;
    background-color: #a3a3a3;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-voltar:hover {
    color: #fff;
    background-color: #bebebe;
    box-shadow: #00000062 0 2px 4px 2px;
}

@media (max-width: 420px) {

    .custom-form-box {
        padding: 0 10px !important;
        margin: 0 !important;
    }

}

@media (max-width: 450px) {

    .btn-retorno {
        padding: 8px;
        width: 120px;
        font-size: 16px;
    }

    .btn-confirmacao {
        padding: 8px;
        width: 120px;
        font-size: 16px;
    }
    

}