*{
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Baskervville', serif;
}

h1, h2 {
    color: #BC4C2A;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    text-shadow: 2px 2px 5px #cacaca;
}

.cabecalho-pedido li {
    list-style-type: none;
}

.cabecalho-pedido-item {
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 2px solid #BC4C2A ;
}
.numero-pedido a{
    color: #252525;
}
.numero-pedido a:hover{
    color: #252525;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #252525;
    font-family: 'Baskervville', serif;
}

.nav-pills .nav-link:hover{
    font-weight: bold;
    color: #252525;
}

.nav-pills .nav-link.active{
    background-color:  #BC4C2A;
}

.recuperar {
    color: #252525;
}

.recuperar:hover{
    color: #252525;
    font-weight: bold;
}

.custom-container {
    background-color: #F6F3EF;
}

.btn-retorno {
    font-family: Baskervville;
    text-align: center;
    background-color: #a3a3a3;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: #00000036 0 2px 4px 2px;
    transition: 0.3s;
}

.btn-retorno:hover {
    color: #fff;
    background-color: #bebebe;
    box-shadow: #00000062 0 2px 4px 2px;
}

@media (max-width: 450px) {

    .btn-retorno {
        padding: 8px;
        width: 120px;
        font-size: 16px;
    }

}

@media (max-width: 450px) {
    .data {
       display: none;
    }

}