img {
    display: block;
    width: 100%;
}

.custom-section{
    align-items: center;
    background-color: #F6F3EF;
    font-family: 'Baskervville', serif;
}

.custom-section-item{
    text-align: center;
}

.custom-section-item h6, .custom-section-item p, .custom-section-item button{
    font-size: 1.5rem;
    margin: 10px 0;
}

.custom-section-item p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.custom-section-item button {
    background-color: #fff;
    border: 2px solid #BC4C2A;

    padding: 0 15px;
    text-transform: uppercase;

    transition: 0.3s;
}

.custom-section-item button:hover {
    background-color: #BC4C2A;
    color: #fff;
} 

@media screen and (max-width: 768px) {
    .dois, .tres {
        padding:10px 0;
    }
    .um { order: 1;}
    .dois {order: 2;}
    .tres{order: 4;}
    .quatro{order:3;}
}