img {
    display: block;
    width: 100%;
}

h1, h2 {
    color: #BC4C2A;
    font-family: 'Baskervville', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    text-shadow: 2px 2px 5px #cacaca;
}

p {  
    font-family: 'Baskervville', serif;
    font-size: 1.12rem;
    text-align: center;
    padding: 0 30px;
}

.custom-container {
    background-color: #F6F3EF;
}