.msg-compra {
    font-family: Baskervville;
    font-size: 18px;
    text-align: center;
    padding: 0 50px;
}

.msg-compra em {
    font-style: normal;
    font-weight: 700;
}

.container-principal {
    padding: 20px 50px;
    transition: 0.2s;
    margin-bottom: 30px;
}

.numero-pedido {
    display: flex !important;
    text-align: start !important;
    padding-left: 0 !important;
    margin: 0 0 20px 0;
}

.numero-pedido b {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    align-self: flex-end;
}

.container-principal ul {
    list-style: none;
    padding: 30px;
    border: solid 2px #BC4C2A;
}

.container-principal ul li {
    padding: 5px 5px 5px 0;
    padding-left: 80px;
    margin-bottom: 10px;
    border: 1px solid #C99668;
    transition: 0.2s;
}

.atributos {
    font-family: Baskervville;
    margin-bottom: 5px;
    transition: 0.2s;
}

.bloco-produto::before {
    content: "";
    position: absolute;
    height: 85px;
    width: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -70px;
    margin-top: 1px;
}

.item-1::before {
    background-image: url("../images/penteadeira-madeira-nobre.jpg");
}

.item-2::before {
    background-image: url("../images/chas-nobres.jpg");
}

.item-3::before {
    background-image: url("../images/penteadeira-madeira-branca.jpg");
}

.atributo-valor, .atributo-qtd {
    font-family: 'Times New Roman', Times, serif;
}

.valor-total, .texto-prazo {
    font-family: Baskervville;
    font-size: 18px;
}

.valor-total b, .texto-prazo b {
    font-family: 'Times New Roman', Times, serif;
}

.voltar-inicio {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 0 0 40px 0;
    padding: 0;
}

.linha-geral {
    width: 100%;
    margin: 0;
}

.pagamento-lista, .endereco-lista {
    padding: 5px !important;
}

.numero-cartao, .descricao-endereco b {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.nome-endereco {
    font-weight: 600;
}

.referencia-endereco {
    color: #00000086;
}

.btn-finalizar {
    width: 250px !important;
}

@media (max-width: 610px) {

    .bloco-produto::before {
        height: 65px;
        width: 45px;
        margin-left: -40px;
        margin-top: 4px;
    }

    .container-principal ul li {
        padding: 5px 5px 5px 50px;
    }

    .atributos {
        font-size: 13px;
    }

}

@media (max-width: 500px) {

    .container-principal {
        padding: 20px 10px;
    }

}