.container-fluid{
    background-color: #F6F3EF;
}

.titulo {
    color: #BC4C2A;
    font-size: 35px;
    font-family: 'Baskervville', serif;
    align-self: flex-end;
    margin: 0;
    
}

.logo {
    height: 70px;
    width: auto;
    margin: 10px 0 0 40px;
}

.logo-2 {
    display: none;
    height: 50px;
    width: auto;
    margin: 10px 0 0 40px;
}


.antiquario {
    font-family: 'Baskervville', serif;
    font-size: 18px;
}

.perfil-link {
    padding: 0;
    font-family: 'Baskervville', serif; 
    font-size: 16px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.perfil-link a {
    display: flex;
}

.perfil-link b {
    margin-right: 5px;
    font-weight: normal;
}

.perfil-link a::after {
    content: "";
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(../../natalia/imgs/user.png);
    align-self: center;
    margin-right: -20px;
}

.login {
    padding: 0;
    font-family: 'Baskervville', serif; 
    font-size: 16px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login a, .perfil-link a {
    color: black;
    text-decoration: none;
    padding: 5px;
}
.sacola {
    height: 30px;
    width: auto;
}

.button-sacola{
    align-self: flex-end;
    padding: 5px;
}

.pesquisa {
    width: 100%;
    height: 35px;
    margin: 0;
    border: none;
    border-bottom: #BC4C2A solid 2px;
    padding: 10px;
}

.form-pesquisa {
    display: flex;
    align-content: flex-end;
    align-self: flex-end;
}

.button-submit {
    display: flex;
    border: none;
    background-color: white;
    width: 100%;
    height: 35px;
    margin: 0;
    border-bottom: #BC4C2A solid 2px;
    justify-content: center;
    align-items: center;
}

.pesquisa-btn {
    display: flex;
    padding: 0;
    align-self: flex-end;
    margin-top: 20px;
}

.lupa {
    height: 17px;
    width: auto;
}

.hamburguer {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    padding: 0 0 0 30px;
}
.menu-hamburguer {
    height: 30px;
    width: auto;
    align-self: flex-end;
    display: flex;
    margin-left: 10px;
}

#menu ul {
    background-color:#F6F3EF;
    list-style:none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#menu ul li { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu ul li a {
    display: flex;
    flex-direction: row;
    background-color:#F6F3EF;
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom:2px solid #F6F3EF;
    font-family: 'Baskervville', serif;
    font-size: 18px;
    width: 100px;
    padding: 10px 100px;
    justify-content: center;
}

#menu ul li a:hover {
    border-bottom:2px solid #BC4C2A;
}

.pesquisa:focus {
    outline: none;
}

@media (max-width:800px) {
    #menu ul li a {
        padding: 10px 80px;
    }
}

@media (max-width: 750px) {
    .perfil-link a::after {
        display: none;
    }
}

@media (max-width:645px) {
    #menu ul li a {
        padding: 10px 60px;
    }
}

@media (max-width:576px) {
    .pesquisa-btn {
        margin-bottom: 15px;
    }

    .titulo {
        justify-content: center;
        display: flex;
    }
}

@media (max-width: 420px) {

    .logo {
        display: none;
    }

    .logo-2 {
        display: block;
    }

}
